* {
  /* padding이나 border 사이즈가 width나 height에 포함될 수 있도록. */
  box-sizing: border-box;
}

ul {
  padding: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
  background-color: #c5d4ff;
  text-align: center;
}

.list {
  width: 400px;
  margin: auto;
  background-color: #e7a61a;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.header {
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background: rgb(242,222,172);
  background: radial-gradient(
    circle,
    rgba(242,222,172,1) 0%,
    rgba(219,161,10,1) 53%,
    rgba(255,113,0,1) 100%
      );
  border-radius: 20px 20px 0 0;
  color: white;
}

.items {
  height: 500px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}

.item__delete {
  font-size: 16px;
  transition: all 300ms ease-in;
}

.item__delete:hover {
  color: red;
  transform: scale(1.1);
}

.item__divider {
  width: 90%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
}

.footer {
  background: rgb(242,222,172);
  background: radial-gradient(
    circle,
    rgba(242,222,172,1) 0%,
    rgba(219,161,10,1) 53%,
    rgba(255,113,0,1) 100%
      );
  border-radius: 0 0 20px 20px;
}

.footer__input {
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 0 16px;
}

.footer__button {
  width: 48px;
  height: 48px;
  font-size: 40px;
  transition: transform 300ms ease-in;
}

.footer__button:hover {
  transform: scale(1.1);
}